.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the app container at least the full height of the screen */
  text-align: center;
}

.content {
  /* This pushes the content away from the navbar */
  padding: 40px 20px;
}